Django>=2.0,<3.0
psycopg2>=2.7,<3.0
djangorestframework>=3.0, <4.0
django-allauth>=0.0, <1.0
django-rest-auth>=0.0 ,<1.0
djangorestframework-jwt>=1.0, <2.0
PyJWT>=1.0, <2.0
django-environ>=0.4, <1.0
whitenoise>=4.1, <5.0
pdftotext==2.1.2
wget==3.2
django-cors-headers>=3.1.1
django-heroku==0.3.1